<section id="dependencies" class="d-none">
    <div class="row justify-content-center">
        <div>
            <h3 class="text-center">Dependencies</h3>
        </div>
        <div>
            <ul>
                <li> Node.js (Environment)</li>
                    <ul>
                        <li>
                            Version: 
                            <ul>
                                <li>
                                    Ensure you have a recent version of Node.js installed, ideally Node.js 14.x or above, as it includes important improvements and features for handling asynchronous operations, modules, etc.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Installation:
                            <ul>
                                <li>
                                    Visit the Node.js website to download and install the latest stable version.
                                </li>
                                <li>
                                    Alternatively, you can use a version manager like nvm (Node Version Manager) to install and manage multiple versions of Node.js on your machine.
                                </li>
                            </ul>
                        </li>
                        <li>
                            npm (Package Manager):
                            <ul>
                                <li>
                                    Version:
                                    <ul>
                                        <li>
                                            Along with Node.js, npm (Node Package Manager) will be installed automatically. Make sure it’s updated to the latest version to handle dependencies smoothly.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Installation:
                                    <ul>
                                        <li>
                                           After installing Node.js, npm will be available. You can update npm using the below command in bash:
                                                <ul>
                                                    <li>
                                                        npm install -g npm
                                                    </li>
                                                </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>    
            </ul>    
        </div>
    </div>
</section>