<section id="installation-code" class="d-none">
    <div class="row justify-content-center">
        <div>
            <h3 class="text-center">Installation Code</h3>
        </div>
        <div>
            <ul>
                <li>
                    Install the package using the below code:
                    <ul>
                        <li>
                            npm i password-strength-package
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>    