<div class="row" id="documentation">
    <div class="col-3">
        <div class="row">
            <div>
                <h3>Table of Contents</h3>
            </div>
            <div id="table-of-contents-documentation-list" class="table-of-contents-sticky list-group">
                <a class="list-group-item list-group-item-action ps-0 active text-500 table-of-contents-home-page-documentation" href="#about" data-target="about"><h6>About</h6></a>
                <a class="list-group-item list-group-item-action ps-0 table-of-contents-home-page-documentation" href="#features" data-target="features"><h6>Features</h6></a>
                <a class="list-group-item list-group-item-action ps-0 table-of-contents-home-page-documentation" href="#api-reference" data-target="api-reference"><h6>API Reference</h6></a>
                <a class="list-group-item list-group-item-action ps-0 table-of-contents-home-page-documentation" href="#contributing" data-target="contributing"><h6>Contributing</h6></a>
            </div> 
        </div>
    </div>
    <div class="col-8" id="documentation-contents">
        {{> _documentation_partials/_about_documentation}}          
        {{> _documentation_partials/_features_documentation}}     
        {{> _documentation_partials/_api_reference_documentation}}     
        {{> _documentation_partials/_contributing_documentation}}         
    </div>
</div>

