<div class="container">
    <div class="carousel slide" data-bs-ride="carousel" id="home-page-carousel">
        <div class="carousel-inner">
            {{> _password_strength_package_description }}
            {{> _password_demo_entry }}
        </div>
        <a class="carousel-control-prev" href="#home-page-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"> < </span>
            <span class="">Previous</span>
        </a>
        <a class="carousel-control-next" href="#home-page-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"> > </span>
            <span class="">Next</span>
        </a>
        {{!-- <ul class="carousel-indicators">
            <li data-bs-target="#home-page-carousel" data-bs-slide-to="0" class="active"></li>  <!-- First dot (active by default) -->
            <li data-bs-target="#home-page-carousel" data-bs-slide-to="1"></li>  <!-- Second dot -->
        </ul> --}}
    </div>
   
    <hr class="m-1">
    <div class="d-flex column justify-content-center gap-5">
        <a href="#documentation" data-target="documentation">Documentation</a>
        <a href="#installation" data-target="installation">Installation</a>
        <a href="#code-samples" data-target="code-samples">Code Samples</a>
        <a href="#license" data-target="license">License</a>
    </div>
    <hr>
    <div>
       {{> _documentation}}
       {{> _installation}}
    </div>
</div>