<div class="row" id="installation">
    <div class="col-3">
        <div class="row">
            <div>
                <h3>Table of Contents</h3>
            </div>
            <div id="table-of-contents-documentation-list" class="table-of-contents-sticky list-group">
                <a class="list-group-item list-group-item-action ps-0 active text-500 table-of-contents-home-page-documentation" href="#dependencies" data-target="dependencies"><h6>Depencencies</h6></a>
                <a class="list-group-item list-group-item-action ps-0 table-of-contents-home-page-documentation" href="#installation-code" data-target="installation-code"><h6>Installation Code</h6></a>
                <a class="list-group-item list-group-item-action ps-0 table-of-contents-home-page-documentation" href="#download" data-target="download"><h6>Download</h6></a>
                <a class="list-group-item list-group-item-action ps-0 table-of-contents-home-page-documentation" href="" data-target=""><h6></h6></a>
            </div> 
        </div>
    </div>
    <div class="col-8" id="installation-contents">
        {{> _installation_partials/_dependencies}}        
        {{> _installation_partials/_download}}  
        {{> _installation_partials/_installation_code}}  
    </div>
</div>
