<div class="row" id="carousel-slide-2">
    <div>
        <form onsubmit="updateStrength()">
            <div class="row justify-content-center text-center">
                <div class="m-3">
                    <h1>Test it yourself!</h1>
                </div>
                <div class="m-3">
                    <label for="password">
                        <h3>
                            Enter your password
                        </h3>
                    </label>
                </div>
                <div class="m-3">
                   <h4><input type="password" id="password" placeholder="Enter your password"></h4> 
                </div>
                <div class="m-3">
                    <label for="case-sensitive-input">
                        <h3>
                            Is the language case sensitive?
                        </h3>
                    </label>
                </div>
                <div class="m-3">
                    <select id="case-sensitive-input" name="case-sensitive-input">
                        <h4><option value="true">Yes</option></h4>
                        <h4><option value="false">No</option></h4>
                    </select>
                </div>
                <div class="m-3">
                    <a type="submit" class="btn btn-primary">
                        Check Strength
                    </a>
                </div>
            </div>
        </form>
    </div>
    
</div>

