<div class="p-3 carousel-item active" id="password-strength-top-box">
    <h1 class="text-center p-3 m-3">
        Password Strength Checker Package
    </h1>
    <div class="text-center p-3">
        <img class="" src="/images/password_icon.png" alt="password icon image" width="125px" height="125px">
    </div>
    <h3 class="text-center p-3 m-1">
        A powerful Node.js package to assess password strength in multiple languages and character sets
    </h3>
    <div class="text-center p-3">
        <a class="btn btn-primary m-3" href="">Try it</a>
        <a class="btn btn-primary" href="">Download it</a>
    </div>
</div>
