<div class="container">
    <div id="carousel-slide-1">
        <div class="p-3" id="password-strength-top-box">
            <h1 class="text-center p-3 m-3">Password Strength Checker Package</h1>
            <h3 class="text-center p-3 m-3">A powerful Node.js package to assess password strength in multiple languages and character sets</h3>
            <div class="text-center p-3">
                <a class="btn btn-primary m-3" href="">Try it</a>
                <a class="btn btn-primary" href="">Download it</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex column justify-content-center gap-5">
        <a><div> Documentation</div></a>
        <a><div> Installation</div></a>
        <a><div> Code Samples</div></a>
        <a><div> License</div></a>
    </div>
    <hr>
    <div>
        <div class="row">
            <div class="col-3 offset-1">
                <div class="row">
                    <div>
                        Table of Contents
                    </div>
                    <div>
                        
                    </div>

                </div>
               
            </div>
            <div class="col-8">

            </div>
        </div>
    </div>
</div>