<div class="row" id="carousel-slide-2">
    <div>
        <form onsubmit="updateStrength()">
            <div class="row justify-content-center">
                <div class="m-3">
                    <label for="password">
                        Enter your password
                    </label>
                </div>
                <div class="m-3">
                    <input type="password" id="password" placeholder="Enter your password">
                </div>
                <div class="m-3">
                    <label for="case-sensitive-input">
                        Is the language case sensitive?
                    </label>
                </div>
                <div class="m-3">
                    <select id="case-sensitive-input" name="case-sensitive-input">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="m-3">
                    <button type="submit">
                        Check Strength
                    </button>
                </div>
            </div>
        </form>
    </div>
    
</div>

