<section id="about" class="d-none">
    <div class="row justify-content-center">
        <div>
            <h3 class="text-center">About</h3>
        </div>
        <div>
            <ul>
                <li>This module provides a utility function to evaluate the strength of a given password and offers suggestions for improvement.</li>
                <li>Anyone with the desire to include password checks for their registered users can use it.</li>
                <li> Its simple, <strong> free </strong> and also occupies <strong> less </strong> memory.</li>
            </ul>    
                
            {{!-- </p>
            <p class=" fs-6  "> 
             
            </p>
            <p class=" fs-6 ">
               
            </p> --}}
        </div>
    </div>
</section>