<section id="features" class="d-none">
    <div class="row justify-content-center">
        <div>
            <h3 class="text-center">Features</h3>
        </div>
        <div>
            <p class=" fs-5  fw-light">
                <ul>
                    <li>  Checks if the password meets the following criteria: </li>
                        <ul>
                            <li>Minimum length of 8 characters</li>
                            <li>Contains at least one uppercase letter</li>
                            <li>Contains at least one lowercase letter</li>
                            <li>Contains at least one digit</li>
                            <li>Contains at least one special character</li>
                        </ul>
                    <li>  Returns a strength level and boolean validity.</li>
                    <li>  Provides suggestions for improvement when the password does not meet specific criteria.</li>
                </ul>
            </p>    
        </div>
    </div>
</section>